.container {
  width: 100%;
  .containerDiv {
    display: flex;
    // position: relative;
    gap: 20px;
    width: 100%;
    height: 275px;
    margin: 0 auto;
    // border: 1px solid red;
  }
  .nextDiv {
    // border: 1px solid red;
    width: 66px;
    height: 50px;
    margin-left: -30px;
    margin-top: -140px;
    // margin-left: 125px;
    position: absolute;
    button{
        width: 66px;
        height: 30px;
    }

   
  }
  .prevDiv{
    // border: 1px solid red;
width: 66px;
margin-left: 1040px;
margin-top: -140px;
// margin-left: 125px;
position: absolute;
button{
    width: 66px;
        height: 30px;
}
}
}
