@import "../../../../styles/global.scss";
.container{
    // border: 1px solid red;
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // gap: 20px;
    // height: 500px;
    // padding: 20px;
    // width: 366px;
    gap: 20px;
    .header{
      color: #fff;
    }
    @media screen and (max-width: $breakpoint-sm) {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      

}