@import './global.scss';
.container{
    //border: 1px solid red;
    width: 230px;
    // box-shadow: 0px 5px 5px 2px(#707070);
    background-color: #303030;
    color: #fff;
    border-radius:10px;
    height: 150px;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    h4{
        font-size: 14px;
        @media screen and (max-width:$breakpoint-sm) {
            font-size: 12px;
             
           }
    }

    .h1-ws {
        font-size: x-large;
    }

    @media screen and (max-width:$breakpoint-sm) {
       margin: 10px;
        width:378px;
        
      }
    .imgBox,.titleBox
   
{
        justify-content: center;
        display: flex;
        line-height: 2.3;
        margin-top: 10px;
    }
    .textBox{
        text-align: center;
    }
}

