@import './global.scss';
.container{
    // border: 1px solid red;
    // position: relative;
    // background-color: blue;
    background-image: url(../images/pttn-bg-dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // width: 90%;
    height: 500px;
    display: flex;
    // margin: 100px auto;

    @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
        height:fit-content;
        padding: auto;
        margin: 40px auto;
       }
    
   
    .col{
        // border: 1px solid black;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
         align-items: center;
        align-content: center;

        @media screen and (max-width: $breakpoint-sm) {
            width: 100%;
           display: flex;
           flex-direction: column;
           }
        // padding: 20px;
        .textCard{
            width: 50%;
            line-height: 2;
            color: #fff;
            font-size: 18px;
            font-family: Roboto, sans-serif, poppins;
            @media screen and (max-width: $breakpoint-sm) {
                width: 90%;
                margin: 0 auto;
                font-size: 14px;
               
               }
        }
        .cardDiv{
            // border: 1px solid red;
            width: 45%;
            // padding: 0 20px 0 0;
            gap: 20px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width: $breakpoint-sm) {
                width: 90%;
                margin: 0 auto;
                
               }
        }
    }

}

